<!DOCTYPE html>
<html>

<head>
  <title>QuarantineHelp</title>

  <!-- Flickity caoursel CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <!--Icons-->
  <script src="https://kit.fontawesome.com/ceb28a59d2.js" crossorigin="anonymous"></script>
  <!--Scroll reveal-->
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="images/favicon.png">
  <!-- Flickity Carousel JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{{# if login }}
  <script type="text/javascript">
         function WebSocketTest()
         {
            if ("WebSocket" in window)
            {
               
               // Let us open a web socket
               var ws = new WebSocket("ws://localhost:9998/");

               ws.onopen = function()
               {
                  // Web Socket is connected, send data using send()
                  ws.send((document.getElementById("messaggio").value)+"|"+(document.getElementById("person").value)+"|"+(document.getElementById("mexper").value));
                  document.getElementById("messaggio").value="";
                  
               };

               ws.onmessage = function (evt)
               {
                  var mex=evt.data.split("|")[0];
                  var from=evt.data.split("|")[1];
                  if(from==null)from="QuarantineHelp"
                  alert("Nuovo messaggio da "+from+": "+mex);
                  
               };

               ws.onclose = function()
               {
                 
               };

               window.onbeforeunload = function(event) {
                 ws.send("l\'altro utente è andato offline :("+"|"+(document.getElementById("person").value)+"|"+(document.getElementById("mexper").value));
                  socket.close();
               };
            }

            else
            {
               // The browser doesn't support WebSocket
               alert("WebSocket NOT supported by your Browser!");
            }
         }
      </script>
{{/if}}


  <style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
      height: 600px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
  </style>
  <script>
    var map;

    // Initialize and add the map
    function initMap() {
      var z = document.getElementById('page').value;
      // The location of Uluru
      var uluru = { lat: parseFloat(document.getElementById("current_lat").value), lng: parseFloat(document.getElementById("current_long").value) };
      // The map, centered at Uluru
      if (z == "shop") {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          center: uluru,
        });
      }
      else {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 6,
          center: uluru,
        });
      }
      if (z == "shop") {
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          icon: {
            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
          }
        });
      }
      var x = document.getElementsByClassName('others_lat');
      var y = document.getElementsByClassName('others_long');
      for (var i = 0; i < x.length; i++) {
        marker = new google.maps.Marker({
          position: { lat: parseFloat(x[i].value), lng: parseFloat(y[i].value) },
          map: map,
        });
      }
    }

  </script>
  
</head>

<body>
  {{#if login}}
  <input type="hidden" id="person" value="{{email}}">
  {{/if}}
  {{> header }}
   
  
    {{{body}}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Messaggio di {{email}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea style="height: 100%; width: 100%" id="messaggio"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <a href="javascript:WebSocketTest()" class="btn btn-primary">Invia messaggio</a>
      </div>
    </div>
  </div>
</div>

  {{> footer}}

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOpGh2i98vY0tUlDl39xe-CW0gEbK5JPA&callback=initMap&v=weekly"
    async></script>

</body>

</html>