<div id="footer_final" class="container_footer" style="font-size: 70%; text-align: center;">
              <div class="container">
                <div class="row">
                  <div class="col-xl" style="min-width: 2cm;">
                    <h5 style="color: white"><b>Contattaci &nbsp;<i class="fa fa-phone"></i></b></h5>
                    <ul>

                      <li><a href="tel:+393463985984">+39 346 398 5984</a></li>
                      <li><a href="mailto:QuarantineHelp@outlook.com">QuarantineHelp@outlook.com</a></li>

                    </ul>
                  </div>
                  <div class="col-xl" style="min-width: 2cm;">
                    <h5 style="color: white"><b>Diventa un assistente &nbsp;<i class="fas fa-hands-helping"></i></b></h5>
                    <p><a href="/user/signup">Registrami Ora</a></p>
                  </div>
                  <div class="col-xl" style="min-width: 2cm;">
                    <h5 style="color: white"><b>La nostra sede &nbsp;<i class="fas fa-map-marked-alt"></i></b></h5>
                    <p>Via Colle del Tufo 38 (RM) 04012</p>
                  </div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-xl" style="min-width: 2cm;"></div>
                    <div class="col-xl" style="min-width: 2cm;">
                        <h5 style="color:white;">Seguici su:</h5>
                        <a href=""><i class="fa fa-facebook-official fa-2x" id="fbicon"></i></a>
                        <a href=""> <i class="fa fa-instagram fa-2x" id="igicon"></i></a>
                        <a href=""> </i> <i class="fa fa-twitter fa-2x" id="twicon"></i></a>
                        </div>
                    <div class="col-xl" style="min-width: 2cm;"></div>
                    
                </div>
                <br>
              </div>
</div>


<!-- Animazioni icone social-->
<script>
  $("#fbicon").mouseenter(function(){
    $("#fbicon").css({'font-size' : 'xx-large'});
  });
</script>
<script>
  $("#fbicon").mouseleave(function(){
    $("#fbicon").css({'font-size' : 'x-large'});
  });
</script>

<script>
  $("#igicon").mouseenter(function(){
    $("#igicon").css({'font-size' : 'xx-large'});
  });
</script>
<script>
  $("#igicon").mouseleave(function(){
    $("#igicon").css({'font-size' : 'x-large'});
  });
</script>

<script>
  $("#twicon").mouseenter(function(){
    $("#twicon").css({'font-size' : 'xx-large'});
  });
</script>
<script>
  $("#twicon").mouseleave(function(){
    $("#twicon").css({'font-size' : 'x-large'});
  });
</script>