<nav class="navbar navbar-expand-lg fixed-top navbar-light bg_sidebar border-bottom mb-5" style="border-bottom: solid rgb(87, 87, 87); background-color: rgb(80, 80, 80);">
  <a class="navbar-brand" href="/">QH</a>
  <a class="nav-link" href="/" style="text-align: center; margin-right: 1cm; color: white;" id="homebtn">
    <i class="fa fa-home" aria-hidden="true" style=" color: white;"></i>Home
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {{# if login }}
    {{# if assistito}}
    <a class="nav-link" href="/eshop" style="color: white;" id="negoziobtn">Negozio <span class="sr-only"></span></a>

    <a class="nav-link"  href="/shopping-cart/" style="color: white;" id="carrellobtn">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>Carrello
      <span class="badge">{{session.cart.totalQty}}</span>
    </a>

    {{/if}}
    <!-- Button trigger modal -->
    <a class="nav-link" href="/#infomations" style="color: white;" id="chisiamobtn"> Chi Siamo <span class="sr-only"></span></a>
    <a class="nav-link" href="#footer_final" style=" color:white; margin-right: 1cm;" id="contattibtn">
      Contatti
    </a>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <a class="nav-link btn btn-info" style="color: white;" href="/user/profile">Profilo</a> &nbsp;
      <a class="nav-link btn btn-danger" style="color: white;" href="/user/logout">Logout</a>
    </ul>
    {{ else }}

    <a class="nav-link" href="/#infomations" style="color: white;"> Chi Siamo <span class="sr-only"></span></a>
    <a class="nav-link" href="#footer_final" style=" color:white; margin-right: 1cm;">
      Contatti
    </a>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <a class="nav-link btn btn-primary" style="color: white;" href="/user/signup">Registrati</a> &nbsp;
      <a class="nav-link btn btn-secondary" style="color: white;" href="/user/signin">Accedi</a>
    </ul>
    {{/if}}
</nav>


<!-- Animazioni Navbar -->
<script>
  $("#negoziobtn").mouseenter(function(){
    $("#negoziobtn").css({'font-size' : 'larger'});
  });
</script>
<script>
  $("#negoziobtn").mouseleave(function(){
    $("#negoziobtn").css({'font-size' : 'smaller'});
  });
</script>

<script>
  $("#chisiamobtn").mouseenter(function(){
    $("#chisiamobtn").css({'font-size' : 'larger'});
  });
</script>
<script>
  $("#chisiamobtn").mouseleave(function(){
    $("#chisiamobtn").css({'font-size' : 'smaller'});
  });
</script>

<script>
  $("#contattibtn").mouseenter(function(){
    $("#contattibtn").css({'font-size' : 'larger'});
  });
</script>
<script>
  $("#contattibtn").mouseleave(function(){
    $("#contattibtn").css({'font-size' : 'smaller'});
  });
</script>

<script>
  $("#carrellobtn").mouseenter(function(){
    $("#carrellobtn").css({'font-size' : 'larger'});
  });
</script>
<script>
  $("#carrellobtn").mouseleave(function(){
    $("#carrellobtn").css({'font-size' : 'smaller'});
  });
</script>

<script>
  $("#homebtn").mouseenter(function(){
    $("#homebtn").css({'font-size' : 'larger'});
  });
</script>
<script>
  $("#homebtn").mouseleave(function(){
    $("#homebtn").css({'font-size' : 'smaller'});
  });
</script>