<div class="align-middle" style="margin-top: 2cm; height:80vh;">
<div class="container">
    <i><h3 class="mb-3 mt-3" style="font-weight: 800; font-size: 50px">Riempi i campi qui sotto</h3></i>
    <div class="col-12 d-flex justify-content-center">
        
    <form method="post" action="/user/changecity">
        {{#if err}}
        <div class="alert alert-danger">{{errore}}</div>
        {{/if}}
        <div class="form-group">
                <label style="font-weight: 800">Città</label>
                <input type="text" id="name" name="indirizzo_citta" class="form-control" required>
            </div>
            <div class="form-group">
                <label style="font-weight: 800">Via</label>
                <input type="text" name="indirizzo_via" class="form-control" required>
            </div>
            <div class="form-group">
                <label style="font-weight: 800">Civico</label>
                <input type="text
                " name="indirizzo_numero" class="form-control" required>
            </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" id="submit" class="btn btn-primary" style="margin-bottom: 5cm;"onclick="return validate()">Salva Modifiche</button>
    </form>
    </div>
</div>
</div>