<div class="container sfondosignup" style="margin-top: 100px; height: 110vh; margin-bottom: 100px;">
    <div class="row mx-auto">
        <div class="col-md-6 col-md-offset-4 mx-auto">
            <h1 class="text-center">Registrati </h1>
            {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}
            <form id="formABC" action="/user/signup" method="post">
                <div class="form-group">
                    <label for="email">Nome</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Cognome</label>
                    <input type="text" id="surname" name="surname" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <p style="font-weight:800">Che ruolo vuoi assumere all'interno del sito?</p>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Scegli il tuo ruolo</label>
                    <select class="form-control" name="role">
                        <option value="assistito">Assistito</option>
                        <option value="assistente">Assistente</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Indirizzo</label>
                    <input type="text" class="indir" id="indir" name="indirizzo_via" class="form-control"
                        placeholder="Via" required>
                </div>
                <div class="form-group">
                    <label for="email">Civico</label>
                    <input type="number" class="indir" id="indir" name="indirizzo_numero" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Città</label>
                    <input type="text" class="indir" id="indir" name="indirizzo_citta" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" id="submit" class="btn btn-primary mb-5" onclick="WebSocketTest('ciao')">Registrati</button>
        </div>

        </form>
    </div>
</div>