<div style="margin-bottom: 10cm; text-align: center; height:80vh;">
<h1>Ci scusiamo per il disagio</h1><br>
<h3>al momento non abbiamo nessun assistente nella tua zona</h3>
<p>Modifica la tua città nelle impostazioni del tuo profilo</p>
</div>