<div class="d-flex bg_color" id="wrapper" style="">
  <div id="page-content-wrapper">
    <div class="video">
      <div class="video_content">
        <div class="container-fluid bordo_verifica">
          <div class="row bg_celeste_chiaro" style="opacity: 0.5;">
            <div class="col-12 colonna_sx bordo_verifica ">
              <h1 class="home-title bordo_verifica" style="padding-top: 1.3rem;">
                <span class="text-center">Quarantine Help</span>
                <span class="text-center">Assistenza per i nostri utenti</span>
              </h1>
            </div>


          </div>
        </div>

      </div>

    </div>
    <div class="nord bordo_verifica" style="padding-bottom: 2rem;">
      <div class="hero_container bordo_verifica">
        <div class="container bordo_verifica reveal">
          <div class="row mt-3">
            <div class="col-xl">
              <div class="w3-content w3-section " style="max-width:500px; border-radius: 15px">
                <img class="mySlide margin_top_photo"
                  src="https://image.freepik.com/free-vector/diverse-crowd-people-different-ages-races_74855-5235.jpg"
                  style="width:100%; border-radius:15px">
                <img class="mySlide margin_top_photo"
                  src="https://image.freepik.com/free-vector/volunteer-delivering-food-parcels-elderly-people-isolated-flat-vector-illustration-cartoon-old-people-meeting-courier-protective-mask-delivery-service-isolation-concept_74855-10188.jpg"
                  style="width:100%; border-radius:15px">
                <img class="mySlide margin_top_photo"
                  src="https://image.freepik.com/free-vector/medical-masked-volunteers-brought-food-elderly-man-volunteer-social-worker-delivers-grocery-old-man-coronavirus-pandemic-epidemic-flat-illustration-taking-care-older-people_106796-168.jpg"
                  style="width:100%; border-radius:15px">
              </div>
              <script>
                var myIndex = 0;
                carousel();
                function carousel() {
                  var i;
                  var x = document.getElementsByClassName("mySlide");
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                  }
                  myIndex++;
                  if (myIndex > x.length) { myIndex = 1 }
                  x[myIndex - 1].style.display = "block";
                  setTimeout(carousel, 2000); // Change image every 2 seconds
                }
              </script>
            </div>
            <div class="col-xl" id="infomations">
              <h2 style="text-align: center;"  ><b>Chi siamo:</b></h2>
              <p class="txt">
                QuarantineHelp nasce con lo scopo di fornire la migliore assistenza possibile a tutti coloro
                che sono impossibilitati a muoversi di casa nel corso della pandemia globale COVID-19.
                </br>Grazie al nostro sito potrai in pochi click chiedere l'aiuto di un nostro assistente che si trova
                nelle vicinanze della tua
                abitazione. Potrai chiedere al nostro assistente di fare la spesa al tuo posto e di recapitarla
                comodamente presso il tuo domicilio o di recarsi in farmacia
                al tuo posto.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Info-->
      <div class="container bordo_verifica reveal- mt-5"
        style="background-color: rgb(255, 255, 255); border-radius:15px">
        <div class="row  d-flex justify-content-center" >
          <h4 class="text-center" style="margin-top: 1cm">3 semplici mosse</h4>
        </div>
        <div class="row" style="text-align: center; margin-top: 1cm;">
          <div class="col-xl" style="margin-bottom: 0.5cm;">
            <br><img
              src="https://cdn.dribbble.com/users/539791/screenshots/6650237/ribbble.gif"
              style="max-height: 60mm; max-height: 60mm; border-radius: 5cm;"><br><br>
            <b>Registrati</b><br>
            <i>Registrati inserendo l'indirizzo di dove recapitarti la spesa</i><br>
          </div>
          <div class="col-xl" style="margin-bottom: 0.5cm;">
            <br><img src="https://i.pinimg.com/originals/dd/f7/62/ddf7620b1a1af96d24f1413bb336f096.gif"
              style="max-height: 60mm; max-height: 60mm; border-radius: 5cm;"><br><br>
            <b>Aggiungi al carrello</b><br>
            <i>Scegli tra tutti i nostri prodotti</i><br>
          </div>
          <div class="col-xl" style="margin-bottom: 0.5cm;">
            <br><img
              src="https://cdn.dribbble.com/users/338126/screenshots/7152832/media/ac90e5c54617a688e12521b8e81071b8.gif"
              style="max-height: 60mm; max-height: 60mm; border-radius: 5cm;"><br><br>
            <b>Rilassati</b><br>
            <i>Invia l'ordine ad uno dei nostri volontari in zona</i><br>
          </div>
        </div>
      </div>

      <div class="container bordo_verifica reveal- mt-5"
        style="background-color: rgb(255, 255, 255); border-radius:15px">
        <div class="row" style="text-align: center; margin-top: 1cm;">
          <div class="col-xl" style="margin-bottom: 0.5cm;">
            <br><img
              src="https://i.pinimg.com/originals/3f/82/40/3f8240fa1d16d0de6d4e7510b43b37ba.gif"
              style="max-height: 30mm; max-height: 30mm; border-radius: 5cm;"><br><br>
            <b>Consegna in giornata</b><br>
            
          </div>
          <div class="col-xl" style="margin-bottom: 0.5cm;">
            <br><img src="https://i.pinimg.com/originals/7b/cb/a5/7bcba55187df137b234567a0337e27df.gif"
              style="max-height: 30mm; max-height: 30mm; border-radius: 5cm;"><br><br>
            <b>Pagamento alla consegna</b><br>
           
          </div>
          <div class="col-xl" style="margin-bottom: 0.5cm;">
            <br><img
              src="https://i.pinimg.com/originals/e5/07/d7/e507d704d4b6fdcb17116762fcd99acd.gif"
              style="max-height: 30mm; max-height: 30mm; border-radius: 5cm;"><br><br>
            <b>Nessun costo di consegna</b><br>
            
          </div>
        </div>
      </div>


     
      <div class="mappa_container bordo_verifica reveal-" style="font-size: 70%;">
        <div class="container bordo_verifica bg_white " style="border-radius: 15px">
          <div class="row">
            <div class="col-md-8" style="text-align: center">
              <input type="hidden" id="page" value="main">
              <input type="hidden" id="current_lat" value="{{latitudine}}">
              <input type="hidden" id="current_long" value="{{longitudine}}">
              {{# each person}}
              <input type="hidden" class="others_lat" value="{{this.latitudine}}">
              <input type="hidden" class="others_long" value="{{this.longitudine}}">
              {{/each}}
              <div id="map"></div>
            </div>
            <div class="col-md-4 padding_testpao_map testomappa">
              <h3 style="font-weight: 800;">Il nostro servizio è attivo in piu di 8 regioni diverse!</h3>
              <h5>Unisciti alla nostra community e scopri tutti i vantaggi</h5>
              <h6>Attualmente operiamo in:</h6>
              <ul>
                <h5><li>Piemonte</li></h5>
                <h5><li>Lombardia</li></h5>
                <h5><li>Veneto</li></h5>
                <h5><li>Toscana</li></h5>
                <h5><li>Lazio</li></h5>
                <h5><li>Sardegna</li></h5>
                <h5><li>Sicilia</li></h5>
                <h5><li>Puglia</li></h5>
              </ul>
              <br>
              <h6>Stiamo facendo il possibile per arrivare ovunque tu sia!</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card_volontari_container bordo_verifica reveal-">
        <div class="container bg_white" style="border-radius: 15px">
          <div class="row d-flex justify-content-center">
            <i><h4 class="mt-3" style="font-weight: 800;">Progetto a cura di</h4></i>
          </div>
          <div class="row bordo_verifica allinea_card_volontari ">
            <div class="row bordo_verifica d-flex justify-content-center">
              <div class="card m-3" style="width: 13rem; border:none;">
                
                <div class="card-body">
                  <h5 class="card-title">Andrea Mason</h5>
                  <h6 class="card-text" id="masoncard"></h6>
                </div>
              </div>
             

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

<script>
  ScrollReveal().reveal('.reveal', { duration: 500, distance: '100px', interval: 600 });
  ScrollReveal().reveal('.reveal-', { duration: 900, distance: '-180px', interval: 600 }); 
</script>

